@page
@model ServiceHost.Areas.Administration.Pages.Discounts.CoustomerDiscounts.CreateModel
@{
    ViewData["Title"] = "Create Product";
}
<div class="container">
    <h3>@ViewData["Title"]</h3>
    <form method="post" asp-page-handler="Create">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="Command.ProductId">Product Category</label>
                <select type="form-control" asp-for="Command.ProductId" rows="3" asp-items="Model.Products"></select>
                <option value="0">Select Group</option>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Command.DiscountRate">DiscountRate</label>
            <input class="form-control" asp-for="Command.DiscountRate" rows="3">
            <span asp-validation-for="Command.DiscountRate" class="error"></span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" asp-for="Command.StartDate" data-provide="datepicker" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text"><i class="ri-calendar-event-fill"></i></span>
            </div>
        </div>
        
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Command.EndDate" data-provide="datepicker" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text"><i class="ri-calendar-event-fill"></i></span>
            </div>
        </div>
        
        
        
        <div class="form-group">
            <label asp-for="Command.Reason">Reason</label>
            <input type="text" class="form-control" asp-for="Command.Reason" >
        </div>
        
        
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary" >Back</a>

        
    </form>
</div>
