@page
@model  ServiceHost.Areas.Administration.Pages.Discounts.CoustomerDiscounts.EditModel;
@{
    ViewData["Title"] = "Edit Product";
}

<div class="container">
    <form method="post" asp-page-handler="Edit">
        <div class="form-group">
            <label asp-for="Command.ProductId">Name</label>
            <input type="text" class="form-control" asp-for="Command.ProductId" >
            <span asp-validation-for="Command.ProductId" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.DiscountRate">Code</label>
            <input class="form-control" asp-for="Command.DiscountRate" rows="3">
            <span asp-validation-for="Command.DiscountRate" class="error"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" asp-for="Command.StartDate" data-provide="datepicker" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text"><i class="ri-calendar-event-fill"></i></span>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" asp-for="Command.EndDate" data-provide="datepicker" placeholder="mm/dd/yyyy" data-date-format="mm/dd/yyyy" data-date-autoclose="true" autocomplete="off">
            <div class="input-group-append">
                <span class="input-group-text"><i class="ri-calendar-event-fill"></i></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Command.Reason">PictureAlt</label>
            <input type="text" class="form-control" asp-for="Command.Reason" >
        </div>
        

        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id">

        <button type="submit" class="btn btn-success">Edit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </form>
   
</div>
