@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Account.ChangePasswordModel;
@{
    ViewData["Title"] = "Change Password Account";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <form asp-page="./ChangePassword" method="post" asp-page-handler="ChangePassword">
        <div class="form-group">
            <label asp-for="Command.Password">Password</label>
            <input type="text" class="form-control" asp-for="Command.Password">
            <span asp-validation-for="Command.Password" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.RePassword">RePassword</label>
            <input type="text" class="form-control" asp-for="Command.RePassword">
            <span asp-validation-for="Command.RePassword" class="error"></span>
        </div>
        

        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id">

        <button type="submit" class="btn btn-success">Change</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </form>
   
</div>
