@page
@model ServiceHost.Areas.Administration.Pages.Shop.Slide.CreateModel

@{
    ViewData["title"] = "Create Slide";
}

<div class="container">
    <h3>@ViewData["title"]</h3>
    <form method="post" asp-page-handler="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="_command.Picture">Picture</label>
            <input name="Picture" type="file" class="form-control" asp-for="_command.Picture" accept="image/*">
            <span asp-validation-for="_command.Picture" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="_command.PictureAlt">PictureAlt</label>
            <input type="text" name="PictureAlt" class="form-control" asp-for="_command.PictureAlt" rows="3" >
            <span asp-validation-for="_command.PictureAlt" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="_command.PictureTitle">PictureTitle</label>
            <input name="PictureTitle" type="text" class="form-control" asp-for="_command.PictureTitle">
            <span asp-validation-for="_command.Title" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="_command.Heading">Heading</label>
            <input name="Heading" type="text" class="form-control" asp-for="_command.Heading" >
            <span asp-validation-for="_command.Heading" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="_command.Title">Title</label>
            <input name="Title" type="text" class="form-control" asp-for="_command.Title" >
        </div>
        <div class="form-group">
            <label asp-for="_command.Text">Text</label>
            <input name="Text" type="text" class="form-control" asp-for="_command.Text" >
        </div>
        <div class="form-group">
            <label asp-for="_command.BtnText">BtnText</label>
            <input name="BtnText" type="text" class="form-control"  asp-for="_command.BtnText" >
            <span asp-validation-for="_command.BtnText" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="_command.Link">Link</label>
            <input name="Link" type="text" class="form-control"  asp-for="_command.Link" >
        </div>
        
        
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary" >Back</a>

        
    </form>
</div>
