@page
@model ServiceHost.Areas.Administration.Pages.Shop.ProductCategories.CreateModel
@{
    ViewData["Title"] = "Create ProductCategories";

}

<div class="container">
    <h3>Create ProductCategory</h3>
    <form method="post" asp-page-handler="Create">
        <div class="form-group">
            <label asp-for="Command.Name">Name</label>
            <input type="text" class="form-control" asp-for="Command.Name" >
            <span asp-validation-for="Command.Name" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.Description">Description</label>
            <input class="form-control" asp-for="Command.Description" rows="3">
            <span asp-validation-for="Command.Description" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.Picture">Picture</label>
            <input type="text" class="form-control" asp-for="Command.Picture">
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureAlt">PictureAlt</label>
            <input type="text" class="form-control" asp-for="Command.PictureAlt" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureTitle">PictureTitle</label>
            <input type="text" class="form-control" asp-for="Command.PictureTitle" >
        </div>
        <div class="form-group">
            <label asp-for="Command.Keywords">Keywords</label>
            <input type="text" class="form-control" asp-for="Command.Keywords" >
            
        </div>
        <div class="form-group">
            <label asp-for="Command.MetaDescription">MetaDescription</label>
            <input class="form-control" asp-for="Command.MetaDescription" rows="3" >
            <span asp-validation-for="Command.MetaDescription" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.Slug">Slug</label>
            <input type="text" class="form-control" asp-for="Command.Slug" >
            <span asp-validation-for="Command.Slug" class="error"></span>
        </div>
        
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary" >Back</a>

        
    </form>
</div>
