@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.CreateModel
@{
    ViewData["Title"] = "Create Account";
}

<div class="container">
    <h3>@ViewData["Title"]</h3>
    <form method="post" asp-page-handler="Create">
        <div class="form-group">
            <label asp-for="Command.Name">FullName</label>
            <input type="text" class="form-control" asp-for="Command.Name" >
            <span asp-validation-for="Command.Name" class="error"></span>
        </div>
        
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary" >Back</a>

        
    </form>
</div>

