@page
@model  ServiceHost.Areas.Administration.Pages.Shop.Products.EditModel;
@{
    ViewData["Title"] = "Edit Product";
}
<!DOCTYPE html> 
<html lang="en">
<body>
<div class="container">
    <h3>@ViewData["Title"]</h3>
    <form method="post" asp-page-handler="Edit">
        <div class="form-group">
            <label asp-for="Command.Name">Name</label>
            <input type="text" class="form-control" asp-for="Command.Name" >
            <span asp-validation-for="Command.Name" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.Code">Code</label>
            <input class="form-control" asp-for="Command.Code" rows="3">
            <span asp-validation-for="Command.Code" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.UnitPrice">UnitPrice</label>
            <input type="text" class="form-control" asp-for="Command.UnitPrice">
        </div>
        <div class="form-group">
            <label asp-for="Command.Picture">Picture</label>
            <input type="text" class="form-control" asp-for="Command.Picture" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureAlt">PictureAlt</label>
            <input type="text" class="form-control" asp-for="Command.PictureAlt" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureTitle">PictureTitle</label>
            <input type="text" class="form-control" asp-for="Command.PictureTitle" >
        </div>
        <div class="form-group">
            <label asp-for="Command.Keyworks">Keywords</label>
            <input type="text" class="form-control" asp-for="Command.Keyworks" >
            <span asp-validation-for="Command.Keyworks" class="error"></span>

        </div>
        <div class="form-group">
            <label asp-for="Command.Description">Description</label>
            <input type="text" class="form-control" asp-for="Command.Description" >

        </div>
        <div class="form-group">
            <label asp-for="Command.MetaDescription">Meta Description</label>
            <input type="text" class="form-control" asp-for="Command.MetaDescription" >
            <span asp-validation-for="Command.MetaDescription" class="error"></span>
        </div>
        <div class="form-group">
            <label asp-for="Command.ShortDescription">Short Description</label>
            <input type="text" class="form-control" asp-for="Command.ShortDescription" >
            <span asp-validation-for="Command.ShortDescription" class="error"></span>

        </div>
        <div class="form-group">
            <label asp-for="Command.CategoryId">Product Category</label>
            <select class="form-control" asp-for="Command.CategoryId" rows="3" asp-items="Model.ProductCategories"></select>
            <option value="0">Select Group</option>
        </div>
        <div class="form-group">
            <label asp-for="Command.Slug">Slug</label>
            <input type="text" class="form-control" asp-for="Command.Slug" >
            <span asp-validation-for="Command.Slug" class="error"></span>
        </div>

        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id">

        <button type="submit" class="btn btn-success">Edit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </form>
   
</div>

</body>
</html>