@page
@model ServiceHost.Areas.Administration.Pages.Shop.ProductPictures.CreateModel
@{
    ViewData["Title"] = "Create Product";
}
<!DOCTYPE html>
<html lang="en">
<body>
<div class="container">
    <h3>@ViewData["Title"]</h3>
    <form method="post" asp-page-handler="Create">
        
        <div class="form-group">
            <option value="0">Select Product</option>
            <label asp-for="Command.ProductId">Product</label>
            <select type="form-control" asp-for="Command.ProductId" rows="3" asp-items="Model.Products"></select>

        </div> 
        <div class="form-group">
            <label asp-for="Command.Picture">Picture</label>
            <input type="text" class="form-control" asp-for="Command.Picture" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureAlt">PictureAlt</label>
            <input type="text" class="form-control" asp-for="Command.PictureAlt" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureTitle">PictureTitle</label>
            <input type="text" class="form-control" asp-for="Command.PictureTitle" >
        </div>
        
        <button type="submit" class="btn btn-success">Create</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary" >Back</a>

        
    </form>
</div>

</body>
</html>