@page
@model  ServiceHost.Areas.Administration.Pages.Shop.ProductPictures.EditModel;
@{
    ViewData["Title"] = "Edit Product Picture";
}

<div class="container">
    <form method="post" asp-page-handler="Edit">
        <div class="form-group">
            <label asp-for="Command.ProductId">UnitPrice</label>
            <input type="text" class="form-control" asp-for="Command.ProductId">
        </div>
        <div class="form-group">
            <label asp-for="Command.Picture">Picture</label>
            <input type="text" class="form-control" asp-for="Command.Picture" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureAlt">PictureAlt</label>
            <input type="text" class="form-control" asp-for="Command.PictureAlt" >
        </div>
        <div class="form-group">
            <label asp-for="Command.PictureTitle">PictureTitle</label>
            <input type="text" class="form-control" asp-for="Command.PictureTitle" >
        </div>
       

        <input type="hidden" asp-for="Command.Id" value="@Model.Command.Id">

        <button type="submit" class="btn btn-success">Edit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
        <a asp-page="./Index" class="btn btn-primary">Back</a>
    </form>
   
</div>
